!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Shopper Challenge'

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'description', content: 'Shopper Challenge'}
    %meta{charset: 'UTF-8'}
    %meta{content: 'utf-8', http_euiv: 'encoding'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:600,300'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body
    = yield

